body { 
  background: rgb(3, 0, 170);
    background:linear-gradient(45deg, rgb(0, 0, 5) 0%, rgb(3, 0, 49) 0%, rgb(9, 0, 90) 48%, rgb(0, 18, 117) 100%);
     font-family:Helvetica,Arial,Verdana,sans-serif;
    background-size: 300% 100%;

    animation: 1s ease infinite;
    animation-name: animacion1;
    
    

}
.a1 {
  border-radius: 60px;
  border: groove 2px white;
  max-width: 550px;
  margin:  auto;
  box-shadow: inset 0 0 20px rgb(0, 238, 255) ,0 0 10px rgb(0, 183, 255);
  text-align: center;
  color: #fff8f8;
  padding: 20px;
}
.l1{
 
  margin: 0;
  font-size: 50px;
  text-shadow: 0 0 5px aqua, 0 0 5px aqua, 0 0 5px aqua,  0 0 5px aqua ;
}
#menuhorizontal {
  margin:0;
  padding:0;
  list-style-type:none;
  } #menuhorizontal a { width:205px;
  text-decoration:none;
  text-align:center;
  color:#440202;
  background-color:#002cf1;
    padding:3px 5px;
    border:1px solid rgb(0, 0, 0);
  display:block; }
  
  #menuhorizontal a:hover {
  background-color:#0051ff;
  }
  #menuhorizontal{
    display: flex;
    justify-content: space-around;
  }


.interfas{
  color: rgb(252, 252, 252);
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 0px;

}

.cl1{
  background-color: rgb(0, 60, 255);opacity:0.2;
  width: 70px;
  height: 40px;
  position: relative;
  left: 0px;
  top: 80px;
  transition: all 1s;
}
.cl2{
  background-color: rgb(0, 81, 255);opacity:0.4;
  width: 70px;
  height: 40px;
  position: relative;
  left: 0px;
  top: 40px;
  transition: all 1s;
}
.cl3{
  background-color: rgb(0, 132, 255);opacity:0.6;
  width: 70px;
  height: 40px;
  position: relative;
  left: 0px;
  top: 0px;
  transition: all 1s;
}
.cl4{
  background-color: rgb(0, 132, 255);opacity:0.8;
  width: 70px;
  height: 40px;
  position: relative;
  left: 0px;
  top: -40px;
  transition: all 1s;
}
.cl5{
  background-color: rgb(0, 26, 255);opacity:0.2;
  width: 100px;
  height: 40px;
  position: relative;
  left: 0px;
  top: 80px;
   transition: all 1s;
  
}
.cl6{
  background-color: rgb(0, 81, 255);;opacity:0.4;
  width: 100px;
  height: 40px;
  position: relative;
  left: 0px;
  top: 40px;
  transition: all 1s;
}
.cl7{
  background-color: rgb(0, 132, 255);opacity:0.6;
  width: 100px;
  height: 40px;
  position: relative;
  left: 0px;
  top: 0px;
  transition: all 1s;
}
.cl8{
  background-color: rgb(0, 132, 255);opacity:0.8;
  width: 100px;
  height: 40px;
  position: relative;
  left: 0px;
  top: -40px;
  transition: all 1s;
}
.cl9{
  background-color: rgb(0, 38, 255);opacity:0.2;
  width: 230px;
  height: 40px;
  position: relative;
  left: 0px;
  top: 80px;
  transition: all 1s;
}
.cl10{
  background-color: rgb(0, 81, 255);;opacity:0.4;
  width: 230px;
  height: 40px;
  position: relative;
  left: 0px;
  top: 40px;
  transition: all 1s;
}
.cl11{
  background-color: rgb(0, 132, 255);opacity:0.6;
  width: 230px;
  height: 40px;
  position: relative;
  left: 0px;
  top: 0px;
  transition: all 1s;
}
.cl12{
  background-color: rgb(0, 132, 255);opacity:0.8;
  width: 230px;
  height: 40px;
  position: relative;
  left: 0px;
  top: -40px;
  transition: all 1s;
}
.cl13{
  background-color: rgb(0, 102, 255);opacity:0.2;
  width: 130px;
  height: 40px;
  position: relative;
  left: 0px;
  top: 80px;
  transition: all 1s;
}
.cl14{
  background-color: rgb(0, 81, 255);;opacity:0.4;
  width: 130px;
  height: 40px;
  position: relative;
  left: 0px;
  top: 40px;
  transition: all 1s;
}
.cl15{
  background-color: rgb(0, 132, 255);opacity:0.6;
  width: 130px;
  height: 40px;
  position: relative;
  left: 0px;
  top: 0px;
  transition: all 1s;
}
.cl16{
  background-color: rgb(0, 132, 255);opacity:0.8;
  width: 130px;
  height: 40px;
  position: relative;
  left: 0px;
  top: -40px;
  transition: all 1s;
}
.u1{
  color: rgb(252, 252, 252) !important;
  position: relative;
  top: -80px;
  left: 0px;
  transition: all 1s;
}
.u2{
  color: rgb(252, 252, 252) !important;
  position: relative;
  top: -80px;
  left: 0px;
  transition: all 1s;
}
.u3{
  color: rgb(252, 252, 252) !important;
  position: relative;
  top: -80px;
  left: 0px;
  transition: all 1s;
}
.u4{
  color: rgb(252, 252, 252) !important;
  position: relative;
  top: -80px;
  left: 0px;
  transition: all 1s;
}
a{
  opacity: 100%;
  margin: 0;
  font-size: 33.1px;
  text-shadow: 0 0 50px rgba(47, 0, 255, 0.671), 0 0 20px rgba(55, 0, 255, 0.671), 0 0 5px rgba(132, 0, 255, 0.671),  0 0 5px rgba(140, 0, 255, 0.671) !important;
 position: relative;
 top: -2px;
}
h2{
  opacity: 100%;
  margin: 0;
  font-size: 30px;
  text-shadow: 0 0 50px rgba(47, 0, 255, 0.671), 0 0 20px rgba(55, 0, 255, 0.671), 0 0 5px rgba(132, 0, 255, 0.671),  0 0 5px rgba(140, 0, 255, 0.671) !important;
}
.interfas1:hover .u1 {
  position: relative;
  top: -60px;
  left: 0px;

}
.interfas2:hover .u2{
  position: relative;
  top: -60px;
  left: 0px;

}
.interfas3:hover .u3{
  position: relative;
  top: -60px;
  left: 0px;

}
.interfas4:hover .u4{
  position: relative;
  top: -60px;
  left: 0px;
  

}
.interfas1:hover .cl1{
  background-color: rgb(0, 89, 255);opacity:0.2;
  position: relative;
  top: 60px;
  left: 20px;

}
.interfas1:hover .cl2{
  background-color: rgb(0, 26, 255);;opacity:0.4;
  position: relative;
  top: 30px;
  left: 15px;

}
.interfas1:hover .cl3{
  background-color: rgb(25, 0, 255);opacity:0.6;
  position: relative;
  top: 0px;
  left: 10px;

}
.interfas1:hover .cl4{
  background-color: rgb(98, 0, 255);opacity:0.8;
  position: relative;
  top: -30px;
  left: 5px;
}
.interfas2:hover .cl5{
  background-color: rgb(0, 89, 255);opacity:0.2;
  position: relative;
  top: 60px;
  left: 20px;

}
.interfas2:hover .cl6{
  background-color: rgb(0, 26, 255);;opacity:0.4;
  position: relative;
  top: 30px;
  left: 15px;

}
.interfas2:hover .cl7{
  background-color: rgb(25, 0, 255);opacity:0.6;
  position: relative;
  top: 0px;
  left: 10px;

}
.interfas2:hover .cl8{
  background-color: rgb(98, 0, 255);opacity:0.8;
  position: relative;
  top: -30px;
  left: 5px;
}
.interfas3:hover .cl9{
  background-color: rgb(0, 89, 255);opacity:0.2;
  position: relative;
  top: 60px;
  left: 20px;

}
.interfas3:hover .cl10{
  background-color: rgb(0, 26, 255);;opacity:0.4;
  position: relative;
  top: 30px;
  left: 15px;

}
.interfas3:hover .cl11{
  background-color: rgb(25, 0, 255);opacity:0.6;
  position: relative;
  top: 0px;
  left: 10px;

}
.interfas3:hover .cl12{
  background-color: rgb(98, 0, 255);opacity:0.8;
  position: relative;
  top: -30px;
  left: 5px;
}
.interfas4:hover .cl13{
  background-color: rgb(0, 89, 255);opacity:0.2;
  position: relative;
  top: 60px;
  left: 20px;

}
.interfas4:hover .cl14{
  background-color: rgb(0, 26, 255);;opacity:0.4;
  position: relative;
  top: 30px;
  left: 15px;

}
.interfas4:hover .cl15{
  background-color: rgb(25, 0, 255);opacity:0.6;
  position: relative;
  top: 0px;
  left: 10px;

}
.interfas4:hover .cl16{
  background-color: rgb(98, 0, 255);opacity:0.8;
  position: relative;
  top: -30px;
  left: 5px;
}
h3{
    opacity: 100%;
    margin: 0;
    font-size: 25px;
    text-shadow: 0 0 50px rgba(3, 255, 171, 0.671), 0 0 20px rgba(0, 248, 165, 0.671), 0 0 5px rgba(3, 255, 24, 0.671),  0 0 5px rgba(2, 255, 221, 0.671) !important;
}
h4{
  color: #fff8f8;
  opacity: 100%;
    margin: 0;
    font-size: 20px;
    text-shadow: 0 0 50px rgba(3, 255, 108, 0.596), 0 0 20px rgba(8, 248, 0, 0.671) 0 0 5px rgba(53, 255, 3, 0.671),  0 0 5px rgba(116, 255, 2, 0.671) !important;
}
img{
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
.xd{
  display:flex;
  justify-content: flex-start;
}
.cu{
  
  border: double 5px white;
  max-width: 550px;
  margin:  auto;
  box-shadow: inset 0 0 20px rgb(0, 238, 255) ,0 0 10px rgb(0, 183, 255);
  
  color: #fff8f8;
  position: relative;
  left: -500px;
  
}
@keyframes animacion1 {
  0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}